/*
 * ##########################################################################################
 * 8-color X11-esque palette
 * ##########################################################################################
 */

:root {
    --colorbg: rgba(5,5,5,0.86);
    --color0: black;
    --color1: white;
    --color2: lightgrey;
    --color3: silver;
    --color4: darkgray;
    --color5: dimgray;
    --color6: lightslategray;
    --color7: slategray;
}

/*
 * ##########################################################################################
 * base template
 * ##########################################################################################
 */

code {
    font-family: 'Monospace', monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
}
pre.prettyprint {
    width: auto !important;
}
html {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
body {
    background-attachment: fixed;
    background-repeat: repeat;
    min-height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Monospace', monospace;
    line-height: 1.6;
    color: var(--color1);
    position:relative;
    box-sizing: border-box;
    padding-bottom: 54px;
    z-index: -2;
}
h1 {
    text-decoration: none;
    text-align: center;
}
@font-face {
    font-family: 'monospace';
    src: url('../static/Monospace.ttf');
}
a, b, strong {
    color: var(--color2);
    font-weight: bold;
}
footer {
    margin: auto;
    position: absolute;
    max-width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    box-shadow: inset 0 -10px 8px -10px rgba(0, 0, 0, 0.9), inset 0 -20px 20px -10px rgba(0, 0, 0, 0.8);
}
footer > a {
    color: var(--color0);
    text-shadow: 0 0 3px var(--color1);
    font-size: 1.4em;
}

/*
 * ##########################################################################################
 * modules
 * ##########################################################################################
 */

.avatar {
    float: left;
    max-height: 500px;
    max-width: 30%;
    padding: 10px;
}
.signature {
    float: right;
}
.certbox {
    display: inline-flex;
    justify-content: center;
}
.posts {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
.post {
    text-align: center;
    padding: 20px;
}
.posts  a {
    text-decoration: none;
    color: var(--color1);
    font-weight: normal;
}
.post img {
    border-radius: 20px;
    max-height: 400px;
    max-width: 60%;
}
.post h2 {
    margin-bottom: 0;
}
.post h4 {
    margin: 0;
    color: var(--color3);
    font-weight: normal;
}
@media screen and (max-width: 800px) {
    .posts {
        display: block;
    }
}
.certs {
    width: 100%;
    padding: 10px;
    max-width: 100px;
}

/*
 * ##########################################################################################
 * templates
 * ##########################################################################################
 */

.centered {
    text-align: center;
    width: 100%;
}
.textbox > p > img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.textbox {
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6), 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    background: var(--color0);
    background: var(--colorbg);
    overflow: hidden;
    clear: both;
    margin-bottom: 30px;
    font-size: large;
}
p> img.smallimg {
    max-width: 30%;
}

/*
 * ##########################################################################################
 * topnav
 * ##########################################################################################
 */

.topnav {
    background-color: var(--color0);
    overflow: hidden;
    max-width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.9), 0 10px 20px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    margin-bottom: 70px;
}
.navbtn, .menubtn {
    margin: auto 0;
    text-align: center;
    padding: 10px;
    line-height: 1;
    text-decoration: none;
    font-size: 15px;
    width: 120px;
}
.homebtn, .menubtn {
    width: unset;
    margin: auto;
    font-size: 2em;
}
.topnav a:hover {
    background-color: var(--color2);
    color: var(--color0);
}
.menubtn {
    display: none;
    padding: 10px 20px;
    position: fixed;
    right: 0;
    top: 0;
}
@media screen and (max-width: 800px) {
    .topnav {
        display: block;
        padding: 0;
    }
    .navbtn {
        display: none;
        text-align: left;
    }
    .homebtn, .menubtn{
        display: block;
    }
    .topnav.responsive a {
        display: block;
        font-size: 2em;
    }
    .topnav.responsive .homebtn {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .topnav a {
        font-size: 1.5em;
    }
    .topnav.responsive a {
        font-size: 1.5em;
    }
}

/*
 * ##########################################################################################
 * animations
 * ##########################################################################################
 */

.blinking{
    animation:blinkingText 1.5s infinite, linear;
    display: inline;
}
@keyframes blinkingText{
    0%{
        color: var(--color2);
    }
    50%{
        color: var(--color2);
    }
    51%{
        color: var(--color0);
    }
    100%{
        color: var(--color0);
    }
}
@keyframes static{
    0% {background-position: 0 0;}
    100% {background-position: 0 800px;}
}

/*
 * ##########################################################################################
 * google code prettifer styles
 * ##########################################################################################
 */

.str { color: var(--color1); }
.kwd { color: var(--color6); }
.com { color: var(--color7); }
.typ { color: var(--color4); }
.lit { color: var(--color6); }
.pun { color: var(--color1); }
.pln { color: var(--color1); }
.tag { color: var(--color6); }
.atn { color: var(--color1); }
.atv { color: var(--color4); }
.dec { color: var(--color6); }

pre.prettyprint {
    border: 2px solid var(--color7);
    margin: auto;
    width: fit-content;
    padding: 0 20px;
}
.prettyprint {
    background: var(--color0);
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: var(--color5);
    list-style-type: decimal;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: var(--color0);
}
@media print
{
    .str { color: var(--color6) ; }
    .kwd { color: var(--color5) ; font-weight: bold; }
    .com { color: var(--color1) ; font-style: italic; }
    .typ { color: var(--color3) ; font-weight: bold; }
    .lit { color: var(--color5) ; }
    .pun { color: var(--color7) ; }
    .pln { color: var(--color7) ; }
    .tag { color: var(--color5) ; font-weight: bold; }
    .atn { color: var(--color7) ; }
    .atv { color: var(--color6) ; }
}


/*
 * ##########################################################################################
 * particles.js container
 * ##########################################################################################
 */

#particles-js{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    filter: blur(4px);
}
/* ---- stats.js ---- */
.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles{
    font-size: 1.1em;
}
#stats, .count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles{
    border-radius: 0 0 3px 3px;
}
